
.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}





.container
{
    position: relative;
}
.bs-search-box {
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Spread items horizontally */
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width */
}

.search-icon {
    color: #888;
    font-size: 18px;
    margin-right: 10px;
}

.better-search-box {
    flex: 1; /* Input field takes up the remaining space */
    border: none !important;
    outline: none !important;
    font-size: 16px !important;
    padding: 5px 10px !important;
}

input[type="text"]:focus {
    outline: none !important;
    border: none !important;
}

#loading-spinner, #ai-search-clear {
    margin-left: 10px;
}

.sp-visually-hidden {
    display: none !important;
}

.search-spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue color */
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#ai-search-clear {
    color: #888;
    cursor: pointer;
    font-size: 18px;
}

#ai-search-clear:hover {
    color: #000;
}

/* Search Results CSS */
.ai-search-suggestions-box {
    font-family: inherit;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 15px;
    z-index: 10;
    width: 100%;
    /* box-sizing: border-box; */
    /* margin-bottom: 5px; */
}

/* Container adjustments for responsiveness */
#ai-search-suggestions {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100%; /* Ensures container does not overflow */
}

.ai-search-suggestions-box>.error {
    font-family: inherit !important;
    font-size: large !important;
}

.search-title h5 {
    font-size: 14px !important;
    line-height: 24px;
    font-weight: 400 !important;
    color: #323856;
    margin-left: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ai-search-suggestions {
    padding: 5px;
    cursor: pointer;
    display: flex; 
    align-items: center;
    /*gap: 10px; */
    margin-bottom: 8px;
}

.ai-search-suggestions:hover {
    background-color: #f0f0f0;
}

.icn-img {
    width: 27px;
    margin-right: -12px;
}

.category-title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #151C28;
    line-height: 28px;
    padding-left: 8px;
    text-align: left;
}

/* Thumbnails */
.ai-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: inline-block;
    /* vertical-align: middle; */
    background-size: cover;
    background-repeat: no-repeat;
}

.ai-thumbnail-course{
    width: 80px;
    height: 80px;
    border-radius: 4px;
    display: inline-block;
    /* vertical-align: middle; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}




.bs-thumbnail-help {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E2E5F3;
    border-radius: 50%;
    margin: 0 auto;
    color: #323856;
}

.bs-thumbnail-lesson {
    color: #1EBBF0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E2E5F3;
    border-radius: 50%;
    margin: 0 auto;
    padding-left: 2px;
}



.ai-thumbnail i {
    font-size: 20px;
    color: #323856;
}



/* Focus styles */
.ai-search-suggestions *:focus,
.ai-search-suggestions *:focus-visible {
    border: none !important;
    outline: none !important;
}

/* Anchor adjustments */
.ai-search-suggestions-box a, #better-search-results a {
    text-decoration: none !important;
    color: #333;
}

/* Custom scrollbar styles */
#ai-search-suggestions::-webkit-scrollbar {
    width: 12px;
}

#ai-search-suggestions::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#ai-search-suggestions::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#ai-search-suggestions::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.asset-type {
    font-size: 12px;
    line-height: 16px;
    color: #59607D;
    font-weight: 400;
    width: fit-content;
    padding: 2px 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}





/* Responsive adjustments */
@media (max-width: 768px) {
    .ai-search-suggestions-box {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .search-title h5 {
        font-size: 12px !important; /* Adjust font size */
    }

    .ai-search-suggestions {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start;
    }

    .ai-thumbnail {
        width: 30px; /* Adjust thumbnail size */
        height: 30px;
    }
}


/* Video Text and Icon */

.video-icon {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #1EBBF0;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 15px;
    justify-content: space-between;
    width: 90px;
}

.video-icon i {
    width: 12px;
    height: 19px;
    font-size: 18px;
    color: #1EBBF0;
}


.full-search-page {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #1EBBF0 !important;
    outline: none !important;
}

/* Full Page CSS  */

/* .full-page-search-header {
    background-color: #31216B;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: 100px;
    border-radius: 12px;
    padding: 20px;
} */

.full-page-search-header {
    background-color: #31216B;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    overflow: hidden; 
}

.full-page-search-header::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.full-page-search-header::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    bottom: -135px;
    left: -59px;
}










#better-search-results{
    width: 100% !important;
    margin: 10px !important;
}

#pageInput {
    border: #CACFE6 solid;
    border-radius: 4px;
    width: 47px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px !important;
}

.pagination-button{
    background-color: transparent;
    border: none;
    color: #1EBBF0;
    outline: none;
}

.pageInputText{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    
}


